/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Side Game List
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.library_LeftListSizableContainer_9sPoV {
	margin: 0 0 15px;
}
.gamelistbar_Container_3x1Hk {
	margin: 0 15px 15px;
	background-image: none;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Home
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Base */
.gamelistbar_GameListHomeAndSearch_2TKEa {
	height: unset;
	padding: 10px;
	border-radius: 8px;
	background-color: var(--2th-color);
    box-shadow: none !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Dropdown
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Base */
.gamelistdropdown_Bar_1ZS_x {
	background: var(--2th-color);
	border-radius: 8px 8px 0 0;
	margin-top: 15px;
}

/* Dropdown */
.gamelistdropdown_Bar_1ZS_x
.gamelistdropdown_MenuHeader_2PF_m {
	border-radius: 8px;
	background-color: var(--3th-color);
}

.gamelistdropdown_ScrollToTop_uE7Pj .SVGIcon_Arrow {
    background-color: transparent !important;
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Search
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Base */
.gamelistsearchbar_Container_20QAC {
	background: var(--2th-color);
}

/* Search */
.gamelistsearchbar_SearchInput_12vo5 {
	border-radius: 8px 0 0 8px !important;
}
.gamelistsearchbar_SearchInput_12vo5 input {
	background-color: var(--3th-color) !important;
}
/* Filter Icon */
.gamelistsearchbar_AdvancedSearchContainer_vCCmY {
	border-radius: 0 8px 8px 0 !important;
	background-color: var(--3th-color) !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?List
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Base */
.gamelist_Container_1ijTa {
	background-color: var(--2th-color) !important;
	border-radius: 0 0 8px 8px !important;
}

/* Collections */
.gamelistsectionheader_Container_2sYIg {
	background: none !important;
}

.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
    background: #c7c7c7 !important;
}

.gamelistsectionheader_Container_2sYIg:hover {
    background: #b1b1b1 !important;
}

.gamelistsectionheader_SectionHeaderContent_3cV3O {
    color: #000000 !important;
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Sidebar Scale
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Scale Base */
.library_LibraryWindowDivider_276E6 {
    margin: auto;
    margin-left: -10.5px;
    margin-right: 5.5px;
    height: 200px;
    background-color: var(--accent-color);
    border-radius: 8px;
    width: 5px;
}
/* Scale :hover:focus:active */
.library_LibraryWindowDivider_276E6:hover,
.library_LibraryWindowDivider_276E6:focus,
.library_LibraryWindowDivider_276E6:active {
    background-color: var(--accent-color2) !important;
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Main Game List
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.library_MainPanel_3BFcm {
    margin: 0 15px 15px 0;
    border-radius: 8px;
}
.library_AppDetailsTransitionGroup_2Dd4T {
    border-radius: 8px;
}
.library_AppDetailsTransitionGroup_2Dd4T,
.libraryhome_Container_2gSXC,
.libraryhome_LibraryHome_3Sb2o {
    background: none;
    background-image: none;
}
.libraryhome_Container_2gSXC {
    background: var(--3th-color);
}
.libraryhome_UpdatesContainer_17uEB {
    margin: 15px;
    border-radius: 8px;
    background: var(--2th-color);
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Download Page
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.downloads_DownloadsPage_1bq4x {
    width: -webkit-fill-available;
    margin: 0 0 0 15px;
    border-radius: 8px;
    background: var(--3th-color);
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Banner
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.downloadgraph_GraphAndStats_3KDkL {
	width: auto;
	margin: 15px;
	border-radius: 8px;
    background: var(--2th-color);
}
.downloadgraph_HeroAndLogo_3mZ2r {
	border-radius: 8px;
    background: none !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Main
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.downloads_TopBar_SEmVp {
    display: none;
}

.downloads_Section_3Mbhn {
    margin-top: 0;
    margin-bottom: 12px;
    padding-bottom: 0;
}
.downloads_Section_3Mbhn:nth-child(n+2) {
    margin-top: 0;
}

/* Items */
.downloads_Active_IbePL .downloads_SectionList_OINnO {
    border: none;
}

.downloads_SectionItem_1VNuY {
    padding: 8px 0px 8px 24px;
    border-radius: 8px !important;
}
.downloads_SectionItem_1VNuY:hover {
    background-color: #d9d9d9;
}
.downloads_SectionItem_1VNuY.downloads_Active_IbePL {
    margin: 0 15px;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?add
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* top bar selected text color */
.supernav_SuperNavMenu_7AlhC.supernav_Selected_1gqEj:not(.supernav_Disabled_2cO0H) .supernav_MenuButton_19axK {
  color: #38bfff !important;
}

/* top bar unselected text color */
.supernav_SuperNavMenu_7AlhC .supernav_MenuButton_19axK {
  color: grey !important;
}

/* top bar color line */
.supernav_SuperNavMenu_7AlhC.supernav_Selected_1gqEj:not(.supernav_Disabled_2cO0H) .supernav_MenuButton_19axK::after {
  margin-top: 9px !important;
  height: 1px !important;
  background: #878CFF !important;
}

/* announcement button replacement */
.titlebarcontrols_AnnouncementsButton_5wILZ {
  display: none !important;
}

.titlebarcontrols_AccountMenu_3yD46 .titlebarcontrols_WalletBalance_2jphj {
    color: #565656 !important; 
}

.titlebarcontrols_NotificationsButton_RtSv3 {
    padding: 0px 0px;
}

.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_HasNew_3L1c8 {
    background-color: transparent !important;
}

.titlebarcontrols_NotificationsButton_RtSv3 {
    color: #656565 !important;
}


/* hide url bar */
.steamdesktop_BrowserWrapper_1bGew .steamdesktop_URLBar_UkR3s {
  display: none !important;
}

/* bottombar area */
.bottombar_BottomBar_3vCzS {
  /* bottom bar to top */
  background: transparent !important;
  margin-top: 40px !important;
  right: 0 !important;
  margin-right: 17px !important;
  position: fixed !important;
  top: 0 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}


.bottombar_AddGameButton_2foCk .bottombar_Text_3OhUx, .bottombar_FriendsButton_1TdaA .bottombar_Text_3OhUx, .bottombar_DownloadStatusContent_ip-YZ .bottombar_Queue_3wJnT{
  display: none !important;
}

.bottombar_DetailedDownloadProgress_2VtAq .bottombar_IconBevel_21vPQ {
  background-image: none !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
? WHAT's NEW
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.pageablecontainer_HeaderPageControls_2pAbU {
    color: #000000 !important;
}

.libraryhomenewupdates_Event_Title_1Gu1U div.libraryhomenewupdates_PartnerEventRowCapsule_TextTitle_DVBcp {
    color: rgb(0 0 0 / 100%) !important;
}

.libraryhomenewupdates_GameIconAndName_3_xMy .libraryhomenewupdates_GameName_28Iqr {
    color: #000 !important;
}

.libraryhomenewupdates_SettingsButton_1eFe5:hover .SVGIcon_Settings path {
    fill: #b5b5b5 !important;
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
? GameList
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.gamelisthome_Bar_3pSPl {
    color: var(--2th-color) !important;

}
.gamelisthome_Bar_3pSPl .gamelisthome_Icon_1ooRO svg {
    fill: transparent !important;
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
    background-color: #ffffff !important;
}


.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D {
    color: #000 !important;
}

.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L {
    color: #000 !important;
}


.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr {
    color: #b9bcc1 !important;
}

.gamelisthome_Bar_3pSPl:hover .gamelisthome_Label_3O48L {
    color: #737373 !important;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z :hover {
    background-color: #000 !important;
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
? SHELF
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.libraryhomeshowcases_AddShowcaseRow_3SkuN {
    color: #000000 !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer {
    color: #131313 !important;
}

.libraryhomeshowcases_AddShowcaseRow_3SkuN svg line, .libraryhomeshowcases_AddShowcaseRow_3SkuN svg circle {
    stroke: #000000 !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl {
    color: #000 !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Rule_1PhK8 {
    background-color: rgb(0 0 0) !important;
    height: 1px !important;
}
