/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Side Game List
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.library_LeftListSizableContainer_9sPoV {
	margin: 0 0 15px;
}
.gamelistbar_Container_3x1Hk {
	margin: 0 15px 15px;
	background-image: none;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Home
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Base */
.gamelistbar_GameListHomeAndSearch_2TKEa {
	height: unset;
	padding: 10px;
	border-radius: 8px;
	background-color: var(--2th-color);
    box-shadow: none !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Dropdown
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Base */
.gamelistdropdown_Bar_1ZS_x {
	background: var(--2th-color);
	border-radius: 8px 8px 0 0;
	margin-top: 15px;
}

/* Dropdown */
.gamelistdropdown_Bar_1ZS_x
.gamelistdropdown_MenuHeader_2PF_m {
	border-radius: 8px;
	background-color: var(--3th-color);
}

.gamelistdropdown_ScrollToTop_uE7Pj .SVGIcon_Arrow {
    background-color: transparent !important;
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Search
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Base */
.gamelistsearchbar_Container_20QAC {
	background: var(--2th-color);
}

/* Search */
.gamelistsearchbar_SearchInput_12vo5 {
	border-radius: 8px 0 0 8px !important;
}
.gamelistsearchbar_SearchInput_12vo5 input {
	background-color: var(--3th-color) !important;
}
/* Filter Icon */
.gamelistsearchbar_AdvancedSearchContainer_vCCmY {
	border-radius: 0 8px 8px 0 !important;
	background-color: var(--3th-color) !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?List
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Base */
.gamelist_Container_1ijTa {
	background-color: var(--2th-color) !important;
	border-radius: 0 0 8px 8px !important;
}

/* Collections */
.gamelistsectionheader_Container_2sYIg {
	background: none !important;
}

.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
    background: #c7c7c7 !important;
}

.gamelistsectionheader_Container_2sYIg:hover {
    background: #b1b1b1 !important;
}

.gamelistsectionheader_SectionHeaderContent_3cV3O {
    color: #000000 !important;
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Sidebar Scale
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Scale Base */
.library_LibraryWindowDivider_276E6 {
    margin: auto;
    margin-left: -10.5px;
    margin-right: 5.5px;
    height: 200px;
    background-color: var(--accent-color);
    border-radius: 8px;
    width: 5px;
}
/* Scale :hover:focus:active */
.library_LibraryWindowDivider_276E6:hover,
.library_LibraryWindowDivider_276E6:focus,
.library_LibraryWindowDivider_276E6:active {
    background-color: var(--accent-color2) !important;
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Main Game List
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.library_MainPanel_3BFcm {
    margin: 0 15px 15px 0;
    border-radius: 8px;
}
.library_AppDetailsTransitionGroup_2Dd4T {
    border-radius: 8px;
}
.library_AppDetailsTransitionGroup_2Dd4T,
.libraryhome_Container_2gSXC,
.libraryhome_LibraryHome_3Sb2o {
    background: none;
    background-image: none;
}
.libraryhome_Container_2gSXC {
    background: var(--3th-color);
}
.libraryhome_UpdatesContainer_17uEB {
    margin: 15px;
    border-radius: 8px;
    background: var(--2th-color);
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Download Page
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.downloads_DownloadsPage_1bq4x {
    width: -webkit-fill-available;
    margin: 0 0 0 15px;
    border-radius: 8px;
    background: var(--3th-color);
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Banner
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.downloadgraph_GraphAndStats_3KDkL {
	width: auto;
	margin: 15px;
	border-radius: 8px;
    background: var(--2th-color);
}
.downloadgraph_HeroAndLogo_3mZ2r {
	border-radius: 8px;
    background: none !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Main
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.downloads_TopBar_SEmVp {
    display: none;
}

.downloads_Section_3Mbhn {
    margin-top: 0;
    margin-bottom: 12px;
    padding-bottom: 0;
}
.downloads_Section_3Mbhn:nth-child(n+2) {
    margin-top: 0;
}

/* Items */
.downloads_Active_IbePL .downloads_SectionList_OINnO {
    border: none;
}

.downloads_SectionItem_1VNuY {
    padding: 8px 0px 8px 24px;
    border-radius: 8px !important;
}
.downloads_SectionItem_1VNuY:hover {
    background-color: #d9d9d9;
}
.downloads_SectionItem_1VNuY.downloads_Active_IbePL {
    margin: 0 15px;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?add
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* top bar selected text color */
.supernav_SuperNavMenu_7AlhC.supernav_Selected_1gqEj:not(.supernav_Disabled_2cO0H) .supernav_MenuButton_19axK {
  color: #38bfff !important;
}

/* top bar unselected text color */
.supernav_SuperNavMenu_7AlhC .supernav_MenuButton_19axK {
  color: grey !important;
}

/* top bar color line */
.supernav_SuperNavMenu_7AlhC.supernav_Selected_1gqEj:not(.supernav_Disabled_2cO0H) .supernav_MenuButton_19axK::after {
  margin-top: 9px !important;
  height: 1px !important;
  background: #878CFF !important;
}

/* announcement button replacement */
.titlebarcontrols_AnnouncementsButton_5wILZ {
  display: none !important;
}

.titlebarcontrols_AccountMenu_3yD46 .titlebarcontrols_WalletBalance_2jphj {
    color: #565656 !important; 
}

.titlebarcontrols_NotificationsButton_RtSv3 {
    padding: 0px 0px;
}

.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_HasNew_3L1c8 {
    background-color: transparent !important;
}

.titlebarcontrols_NotificationsButton_RtSv3 {
    color: #656565 !important;
}


/* hide url bar */
.steamdesktop_BrowserWrapper_1bGew .steamdesktop_URLBar_UkR3s {
  display: none !important;
}

/* bottombar area */
.bottombar_BottomBar_3vCzS {
  /* bottom bar to top */
  background: transparent !important;
  margin-top: 40px !important;
  right: 0 !important;
  margin-right: 17px !important;
  position: fixed !important;
  top: 0 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}


.bottombar_AddGameButton_2foCk .bottombar_Text_3OhUx, .bottombar_FriendsButton_1TdaA .bottombar_Text_3OhUx, .bottombar_DownloadStatusContent_ip-YZ .bottombar_Queue_3wJnT{
  display: none !important;
}

.bottombar_DetailedDownloadProgress_2VtAq .bottombar_IconBevel_21vPQ {
  background-image: none !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
? WHAT's NEW
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.pageablecontainer_HeaderPageControls_2pAbU {
    color: #000000 !important;
}

.libraryhomenewupdates_Event_Title_1Gu1U div.libraryhomenewupdates_PartnerEventRowCapsule_TextTitle_DVBcp {
    color: rgb(0 0 0 / 100%) !important;
}

.libraryhomenewupdates_GameIconAndName_3_xMy .libraryhomenewupdates_GameName_28Iqr {
    color: #000 !important;
}

.libraryhomenewupdates_SettingsButton_1eFe5:hover .SVGIcon_Settings path {
    fill: #b5b5b5 !important;
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
? GameList
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.gamelisthome_Bar_3pSPl {
    color: var(--2th-color) !important;
    background-color: #ffffff !important;

}
.gamelisthome_Bar_3pSPl .gamelisthome_Icon_1ooRO svg {
    fill: transparent !important;
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
    background-color: #ffffff !important;
}


.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D {
    color: #000 !important;
}

.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L {
    color: #000 !important;
}


.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr {
    color: #8c8c8c !important;
}

.gamelisthome_Bar_3pSPl:hover .gamelisthome_Label_3O48L {
    color: #737373 !important;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z {
    background-color: #a9a9a9 !important;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z :hover {
    background-color: #a9a9a9 !important;
}

.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ {
    stroke: rgb(255 255 255) !important;
}



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
? SHELF
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.libraryhomeshowcases_AddShowcaseRow_3SkuN {
    color: #000000 !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer {
    color: #131313 !important;
}

.libraryhomeshowcases_AddShowcaseRow_3SkuN svg line, .libraryhomeshowcases_AddShowcaseRow_3SkuN svg circle {
    stroke: #000000 !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl {
    color: #000 !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Rule_1PhK8 {
    background-color: rgb(0 0 0) !important;
    height: 1px !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
? Scroll Container
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.allcollections_ScrollContainer_u1xD3 {
    background: #fff !important;
}

.allcollections_ScrollContainer_u1xD3 .allcollections_Header_2Th-v {
    color: rgb(0 0 0) !important;
}

.infoicon_MoreInfoIcon_34I5H {
    color: rgb(255 255 255) !important;
    background-color: rgb(165 165 165) !important;
}

.allcollections_ScrollContainer_u1xD3 .allcollections_Header_2Th-v .allcollections_Rule_2wbrx {
    background: linear-gradient(to right, rgb(101 101 101), rgba(255, 255, 255, 0)) !important; 
}

.allcollections_Collection_3IWn-.allcollections_NewCollection_2_dwx {
    background: #f3f3f3 !important;
}

.collectionview_OuterContainer_2sNr7 {
    background: #fff !important;
}

.collectionview_Container_2q70u {
    color: white !important;
}

.collectionview_Container_2q70u .collectionview_Header_2rqTS .collectionview_SectionCount_3Xgxj {
    color: black !important;
}

.collectionview_Container_2q70u .collectionview_Header_2rqTS .collectionview_Rule_1grg9 {
    background: linear-gradient(to right, rgb(0 0 0), rgba(255, 255, 255, 0)) !important;
}

.appgrid_SortingDropDown_1tBzy .appgrid_SortingDropDownLabel_1ljKT {
    color: black !important;
}

.appgrid_AppGridSectionHeader_3bWIS .appgrid_Rule_3pJqX {
    background: linear-gradient(to right, rgb(113 113 113 / 60%), rgba(255, 255, 255, 0)) !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
? Appdetails
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
    background-image: radial-gradient(100% 100% at 45% 35%, #ffffff 0%, #ffffff 100%) !important;
}

.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
    background: rgb(255, 255, 255 / 60%) !important;
}

.appdetailssectionheader_SectionHeader_1Q2q_ {
    color: #071419 !important;
}

.appactivityday_PartnerEvent_1AYE1 {
    background: none !important; 
}

.appactivityday_PartnerEventMediumImage_Summary_Ru7OB {
    color: #000 !important;
}

.appactivityday_PartnerEventMediumImage_Title_1gljE {
    color: #585858 !important;
}

.appactivityday_PartnerEventType_1ujzu {
    color: black !important;
}

.appactivityday_AppActivityDay_S2Fu9 .appactivityday_AppActivityDate_19LfM {
    color: #4c4c4c !important;
}

.appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
    background: linear-gradient(to right, rgb(183 183 183 / 80%) 0%, rgb(158 158 158 / 80%) 95%) !important;
}

.appdetailssection_Highlight_38t1m {
    background: linear-gradient(to right, #e2e2e200 0%, #dadada00 95%) !important;
    box-shadow: 1px 2px 13px 0px rgb(206 206 206 / 25%) !important;
}

.appdetailsachievementssection_UnlockedLabel_3jC8o {
    color: #292929 !important;
}

.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
    color: #131313e0 !important;
}

.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Desc_2gLHb {
    color: #525252cf !important;
}

.appdetailstradingcardssection_Card_1WsOn.appdetailstradingcardssection_Unowned_1A6NC .appdetailstradingcardssection_CardContainer_2DUDv, .appdetailstradingcardssection_Card_1WsOn.appdetailstradingcardssection_Loading_2ZOgN .appdetailstradingcardssection_CardContainer_2DUDv {
    background-color: #39414900 !important;
}

.appdetailscommunityfeed_HeaderStyles_2lNdD {
    color: #00b8ff !important;
}

.appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
    background: none !important;
}

.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
    background: none !important;
}

.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI:after {
    box-shadow: 1px 1px 11px 0px #00000040 !important; 
}

.spotlightgameplaysummary_GamePlaySummaryHeader_2_sR8 {
    color: #6dd6ff !important;
}

.appdetailsspotlight_ReviewContainer_3LE-6 {
    background-color: none !important;
}

.writereview_RatingContainer_2SAb6 {
    background-color: none !important;
    box-shadow: 1px 1px 10px #00000042;
}
