:root {
  /*! Logo Settings*/
  --first-logo-text: #ffad6b;
  --second-logo-text: #ffc466;
  
  /*! Theme Settings */
  --1th-color: #FF0000;
  --2th-color: #00FF00;
  --3th-color: #0000FF;
  --4th-color: #FFFF00;
  --5th-color: #00FFFF;
  --6th-color: #FF00FF;
  --accent-color: #ffad6b;
  --accent-color2: #ffb56b;
  --background-color: #f5f5f5; //
}
