:root {
  /*! Logo Settings*/
  --first-logo-text: #ffad6b;
  --second-logo-text: #ffc466;
  
  /*! Theme Settings */
  --1th-color: #ededed;
  --2th-color: #ffffff;
  --3th-color: #ffffff;
  --4th-color: #e8e8e8;
  --5th-color: #2b2825;
  --6th-color: #292826;
  --accent-color: #58a2ff;
  --accent-color2: #ffb56b;
  --background-color: #f5f5f5; //
}
